:root {
  --background: #121212;
  --foreground: #ffffff;
  --primary: #f5c518;
  --primary-300: #e9be25e8;
  --primary-500: #f1d675de;
  --secondary: #e50914;
  --accent: #01b4e4;
  --card-bg: #1f1f1f;
  --border: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

